@model ProjectListItemViewModel

<li class="section">
    <div class="row">
        <div class="col s8 truncate">@Model.Name</div>
        <ul class="col s4 right-align horiz-list">
            <li><input type="button" value="Details" class="btn" /></li>
            <li><input type="button" value="Issues" class="btn" /></li>
        </ul>
    </div>
    <div class="divider"></div>
</li>
