@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>SMARTplanner is an app to simplify team collaboration within a project.</p>
<p>We make it easier to plan, report and organize your work with tasks!</p>
